/* start upper bar */
.upper_bar {
    background-color:#ffffff ;
    color:#00539a;
}
 ul.lang-navbar{ 
 float:right;
 list-style:none;
 margin:0;
 position:0;
 }
     li{
     display:inline !important ;
     padding:5px ;
 }
                                                     
.lang-navbar span {
    color:#00539a;
}

/* end upper bar */

/* start navbar */
 
 .navbar {
 position: absolute;
 height: 48px;
 width: 810px;
 top: 60px;
 left: 311px;

 }
 .navbar-brand span {
     color:#00539C;
     font-size:13px;
     font-weight:bold;
 }
 .nav-link span {
 color: #00539a;
 font-size: 14px;
 font-weight: 500
 }
 .nav-link h3 {
     color: #f7b72a;
     font-size: 14px;
     font-weight: 500
 }
 .contact{
     display: block;
 }
 button{
     border: none;
     border-radius: 0%;
     background-color: #fff;
     
 }
 .logo{

     position: absolute;
     height: 54px;
     width: 249px;
     bottom: 60px;
     top: 10px;
     left: 16px;
     background-image: url('../img/logo2.png');
     display: block;
     float: left;
     max-width: 100%;
     background-size: 249px;
     background-repeat: no-repeat;
 }	
/* end navbar */
 /*start contact us*/
 .contact-us{
	background-color:#ffffff ;
	color:#00539C; ;
	padding: 50px 0;
	font-size: 20px;
 
 
  }
  .contact-us a {
		color: #00539C;
		border: 1px solid #00539C;;
		padding: 7px 23px;
		border-radius: 6px;
		margin-left: -39px;
  }
  .contact-us h4{
	margin-left:8px;
	font-size: 23px;
	font-family: Arial ;
  
  }
  .logo-electro{
	 padding-top: 50px; 
	 margin-top: 30px;
	 margin-right: 8px;
  }
  /*end contact us*/
/*start footer------------------------------------------------------------------------------------------------*/
footer{
	background-color: #00539C;
	color: #ffffff;
	padding-top:30px;
	padding-bottom: 40px;
	margin-top: 20px;
	width: 100%;
	bottom: 0;
}
footer a{
  color:#c2bfbf;
}
footer h4{
	color: #f7b72a;
}
.fab{
	font-size: 30px;
	margin-top: 20px;
	margin-left: 5px;
}
.social-icons{
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: 2rem;
}
.social-icons a{
  margin-right: 3rem ; 
}
.social-icons a:hover{
  
  color: #f7b72a;
}

/*end footer*/
/* start fonctionnement  */
.card{
  border-color: #ffffff;
}
.card-caractéristique{/* sans photo */
    height: auto;
}
.card-avantage{/* avec photo */
  height: 250px;
}
.card-body{
	text-align: justify;
	padding: 3px;
}
.card-title{
	font-size: 20px;
	font-weight: 500;
/* 	color:#FFA500;*/
  color: #00539C;
}
.card-text{
	font-size: 12px;
}
.card-img-top img{
	width: 100%;
  min-height: 100%;
	object-fit: cover;	
}
.card-img-top{
  height: 120px;
}
.card .card-img-top{
	overflow: hidden;
}